<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Genome Dashboard - IGB</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/card.css">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="header"> Genome Dashboard </h1>
      <h6 class="sub-header"> Start <a href="https://bioviz.org/download.html" class="text-danger" onclick="activatePopup()" target="popup">Integrated Genome Browser</a>. Then click a species open its genome </h6>
    </div>
  </div>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" id="search_input" onkeyup="onPageSearch()" placeholder="Search ..">
        <span onclick="clearSearch()" class="search_icon"><i class="fas fa-times"></i></span>
      </div>
    </div>
  </div>
  <div class="row" id="row">
    <% Object.keys(data.genomeData).forEach((key) => { %>
    <div class="col" id="searchDiv">
      <div class="contact-area">
        <div class="contact">
          <main>
            <section>
              <div class="content">
                <a onclick="igbRedirect('<%= data.genomeData[key][0] %>')">
                  <% let imageName = images.find(s => s.includes(key));
                  if(imageName) {
                  %>
                    <img src="/public/images/<%= imageName %>" alt="<%= imageName %>" />
                  <% } else { %>
                      <img src="/public/images/app_icon_generic.png" width="60px" height="60px">
                  <% } %>
                </a>
                <aside>
                  <h1> <% if(data.commonName[key] !== undefined) { %><%= data.commonName[key][0] %> <% } else { %> <%= key %> <%}%></h1>
                  <p style="font-style: italic; text-align:center;"><strong><% if(data.scientificName[key] !== undefined) { %><%= data.scientificName[key][0] %><% } else { %> <%= key %> <%}%></strong></p>
                </aside>

                <button id="<%= key %>">
                  <span style="color: black;"><strong>Genome Versions</strong></span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
                </button>
              </div>
              <div class="title" id="<%= 'event2' + key %>"><p>Genome Versions</p></div>
            </section>
          </main>

          <nav id = "<%= 'event3' + key %>">
            <% data.genomeData[key].forEach(element => { %>
              <a
                 onclick="igbRedirect('<%= element %>')"
                 class="igb">

                <div class="icon">
                  <img src="/public/images/app_icon_generic.png" width="60px" height="60px">
                </div>

                <div class="content">
                  <h1>View in IGB</h1>

                  <span style="display: flex;">
                    <%= element %>
                    <% if(data.Synonyms[element] != undefined) { %>
                      <i class="material-icons" data-html="true" data-toggle="tooltip" data-original-title="<span class='text-warning'>Names for this genome version include:</span> <br /> <%=element%> <br /> <%= data.Synonyms[element].join('<br />') %>">
                        info
                      </i>
                    <% } else { %>
                      <i class="material-icons" data-html="true" data-toggle="tooltip" data-original-title="<%= element%>">
                      info
                    </i>
                  </span>
                    <% } %>
                </div>

<!--                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"></path> </g> </svg>-->
                </a>
              <% }) %>
          </nav>
        </div>
      </div>
    </div>
    <% });%>
  </div>
</div>

<!-- Toast for IGB Not Displayed -->
<div style="position: absolute; top: 15px; right: 10px;">
  <!-- Then put toasts within -->
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-danger" data-autohide="false">
    <div class="toast-body text-light">
      <button type="button" class="ml-2 mb-1 close text-light" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      IGB is currently not running. Please start IGB.
    </div>
  </div>
</div>

<!-- Toast for IGB Not Started and Download IGB -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">IGB Service Unavailable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Please start IGB
          <br>
          <i>- or -</i>
          <br>
          Install IGB using the download link below.
        </p>
        <a type="button" class="btn btn-custom btn-danger" href="https://bioviz.org/download.html">
          Download Now
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Importing Required Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- Search On Page -->
<script src="/public/javascripts/search-script.js"></script>

<!-- Check IGB Status JS -->
<script src="/public/javascripts/IgbStatus.js"></script>

<!-- For Handling Transform Clicks -->
<script type="application/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $('button').click(function(event){
      $('#' + this.id).toggleClass('active');
      $('#event2' + this.id).toggleClass('active');
      $('#event3' + this.id).toggleClass('active');
  });
</script>

<script type="application/javascript">
  let activatePopup = () => {
    window.open('https://bioviz.org/download.html','popup','width=600,height=600');
    return false;
  }
</script>

</body>
</html>
